<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">AmigoU</h5>
        <p>
          Proyecto para aprender a implementar Modelo de Machine learning en arquitectura web.
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Enlaces</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Inicio</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Características</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Precios</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Derechos Reservados:
    <a class="text-dark" href="https://google.com/">amigou-web.com</a>
  </div>
</footer>
